.footer {
  color: #86868b;
  font-size: 1rem;
  font-family: sans-serif;
  text-align: center;
  padding: 24px 0;
  border-top: 1px solid #d2d2d7;
  /* margin-top: 100px; */
}

.social {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 24px;
  /* text-align: center; */
  margin-bottom: 12px;
}

/* @media (min-width: 768px) {
  .social {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: center;
  }
} */
.social-text {
  font-size: 1rem;
  color: #6e6e73;
}

.social-btn-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.social-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4f4f53;
  transition: all 0.2s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-size: 18px;
}

.social-btn:hover {
  transform: scale(1.2);
  color: #000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.social-btn a {
  color: inherit;
  text-decoration: none; /* 这是一个好习惯，防止出现默认下划线 */
  /* display: flex; 
  align-items: center;
  justify-content: center; */
  /* width: 100%; */
}
